{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="page-header">
        <a href="{% url 'projects:project_detail' datasource.project.id %}">&larr; Volver al proyecto</a>
        <h1 class="display-6 mt-2">Visualizador de Datos</h1>
        <p class="lead text-muted">Mostrando las primeras 100 filas de: <strong>{{ datasource.name }}</strong></p>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable" class="table table-striped table-bordered" style="width:100%"
                       data-url="{% url 'projects:api_view_datasource' datasource.pk %}">
                    </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/projects/data_viewer.js' %}"></script>
{% endblock %}