# Entorno Virtual
.venv/
venv/

# Archivos de PyCharm
.idea/

# Base de datos de desarrollo
db.sqlite3

# Archivos de media (cargas de usuarios, parquet, etc.)
/media/

# Otros
__pycache__/
*.pyc

# Archivos y carpetas de Node.js
node_modules/
/node_modules
npm-debug.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de entorno
.env