amqp==5.3.1
asgiref==3.9.1
billiard==4.2.1
celery==5.5.3
celery-types==0.23.0
certifi==2025.8.3
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
crispy-tailwind==1.0.3
dj-database-url==3.0.1
Django==5.2.4
django-crispy-forms==2.4
django-taggit==5.0.1
dnspython==2.7.0
et_xmlfile==2.0.0
eventlet==0.40.2
feature-engine==1.6.2
great-expectations==1.2.2
greenlet==3.2.4
Jinja2==3.1.6
joblib==1.5.1
kombu==5.5.4
MarkupSafe==3.0.2
# matplotlib==3.9.2  # Replaced with Plotly for better web performance
# missingno==0.5.2    # Replaced with custom Plotly-based missing data analysis
mlflow==2.22.1
numpy>=1.24.0,<2.0.0
openpyxl==3.1.5
optuna==4.0.0
packaging==24.2
pandas==2.1.4
pandas-stubs==2.1.4.231218
plotly==5.24.1
prompt_toolkit==3.0.51
psycopg==3.2.9
psycopg-binary==3.2.9
pyarrow==18.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
redis==6.4.0
scikit-learn==1.7.1
scipy==1.16.1
sentry-sdk[django]==2.34.1
shap==0.47.0
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.6.0
types-pytz==2025.2.0.20250809
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.13
cryptography
weasyprint
pandasql==0.7.3
django-codemirror-widget==0.4.1
django-tabler-icons